<button type="button" (click)="createNewProduct()">Create product</button>
<h1>{{ shoppingCart.length }} Total Price: {{ getTotalPrice() }}</h1>
<p>Today: {{ today | date: "short" }}</p>
<p>My pipe: {{ today | timeAgo }}</p>
<p>Other date: {{ otherDate | date: "yy.dd.MM" }}</p>
<p>{{ "HoLa COmo EsTaS" | uppercase }}</p>
<section class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="eventAddToCart($event)"
  ></app-product>
</section>

<div [class.active]="activeProduct" class="product-detail">
  <div *ngIf="activeProduct">
    <button type="button" (click)="toggleProductDetail()">Close</button>
    <h1>{{ activeProduct.title }}</h1>
    <p>
      {{ activeProduct.description }}
    </p>

    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of activeProduct.images">
        <img [src]="img" [alt]="activeProduct.title">
      </ng-template>
    </swiper>

    <button type="button" (click)="updateProduct()">Edit</button>
  </div>
</div>
