<div>
  <a [routerLink]="['/product', product.id]">
    <app-img
      *ngIf="product.images.length > 0; else loading"
      [img]="product.images[0]"
      [idProduct]="product.id.toString()"
    ></app-img>
  </a>
  <ng-template #loading>
    <p>Loading</p>
  </ng-template>
  <!-- <img width="200px" [src]="product.img" [alt]="product.name"/> -->
  <h2 appHighlight>{{ product.price | currency: "MXN" }}</h2>
  <p *ngIf="product.taxes">{{ product.taxes }}</p>
  <p>{{ product.title | vocalsChange }}</p>
  <button type="button" (click)="addToCart()">Add to Cart</button>
</div>
