p,
h2 {
  margin: 0;
  // font-family: "Cascadia Code";
}

h2 {
  font-weight: bold;
  // font-style: italic;
  font-size: 1.2rem;
}

p {
  text-align: center;
  font-size: 16px;
  border-top: 5px solid peachpuff;
  // padding: 2rem;
  margin: 0.9rem;
}

