<!--! *ngFor -->

<h1>*ngFor class</h1>
<h3>Shopping List</h3>
<section id="ShoppingSection-Display">
  <p *ngIf="shoppingList.length === 0">
    No products added to the shopping list.
  </p>
  <ul>
    <li *ngFor="let item of shoppingList; index as i">
      {{ i + 1 }} - {{ item }}
      <button (click)="deleteProduct(i)">❌</button>
    </li>
  </ul>
</section>
<section id="ShoppingSection-Input">
  <input type="text" placeholder="Example: Soap for my dishes" required [(ngModel)]="newProduct" />
  <button (click)="addProductToList()"> Add Product to buy. </button>
</section>