<!--! [ngSwitch] -->
<!--! *ngSwitchCase -->

<section>
  <input type="text"  required #nameInput [(ngModel)]="person.name">
</section>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Alejandro'">
    Alejandro is a nice name!
  </p>
  <p *ngSwitchCase="'Fernanda'">
    Fernanda is a pretty name!
  </p>
  <p *ngSwitchCase="'Roberto'">
    Roberto is a great name!
  </p>
  <p *ngSwitchDefault> Your name is a little generic, Just kidding! </p>
</div>

 <!-- Product List -->
<section class="products--grid">
  <ul *ngFor="let product of products">
    <li>
      <img [src]="product.image" [alt]="product.name"/>
      <h2>$ {{ product.price }}</h2>
      <p> {{ product.name }} </p>
    </li>
  </ul>
</section>