.error {
  background-color: rgba(108, 0, 0, 1);
  font-size: 1.2rem;
  padding: 1.3rem;
  position: fixed;
  width: 50%;
  top: 10%;
  right: 0;
  color: white;
  text-align: center;
  transition: all ease-in 2s;
  z-index: 10;
}
