<header class="header">
  <a routerLink="home" class="logo">CompanyLogo</a>
  <div class="header-right">
    <h1 *ngIf="userName.length > 0">
      Hello! ✌️
      <strong>
        {{ userName }}
      </strong>
    </h1>
    <a (click)="sideMenuClick()">More</a>
    <p>
      Cart: <span>{{ counter }}</span>
    </p>
  </div>
</header>
<div class="side-menu" [class.active]="activeSideMenu">
  <button type="button" (click)="sideMenuClick()">x</button>
  <ul>
    <li>
      <a routerLinkActive="active" routerLink="home">All</a>
    </li>
    <li *ngFor="let category of categories">
      <a
        routerLinkActive="active"
        [routerLink]="['/category', category.id]"
        (click)="sideMenuClick()"
        >{{ category.name }}</a
      >
    </li>
  </ul>
</div>
