// Reset CSS
@import url(./app/styles/reset.scss);
// Import google fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Quicksand", sans-serif;
}

.products--grid {
  app-img {
    img {
      border-radius: 10px;
      height: 70%;
      border: solid 5px peachpuff;
    }
  }
}
